.app {
  position: absolute;
  top: 50%;
  left: 35%;
  display: flex;
  gap: 20px;
}

button {
  padding: 20px 20px;
  background-color: aqua;
  opacity: 0.7;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 200px;
  border-radius: 15px;
}

button:hover{
opacity: 1.0;

}
